# Configuration par defaut pour quartify

replicaCount: 1

image:
  repository: ddottaagr/quartify
  tag: latest
  pullPolicy: Always

# Application Shiny
shiny:
  port: 3838

# Ressources
resources:
  requests:
    cpu: 1000m
    memory: 2Gi
  limits:
    cpu: 2000m
    memory: 4Gi

# Service
service:
  type: ClusterIP
  port: 80
  targetPort: 3838

# Ingress
ingress:
  enabled: true
  className: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: quartify.lab.sspcloud.fr
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: quartify-tls
      hosts:
        - quartify.lab.sspcloud.fr

# Environment variables
env:
  SHINY_PORT: "3838"
  SHINY_HOST: "0.0.0.0"
